<div class="main-section-wrapper">

    <div class="hamburger-menu">&#9776;</div>

    <!-- SIDEBAR -->
    <aside class="section-sidebar">
        <h3>Mammals</h3>
        <ul>
            <% mammals.forEach(mammal=> { %>
                <li>
                    <a href="/mammals/<%= mammal.name.toLowerCase().replace(/\s+/g, " -") %>"
                        class="<%= selectedMammal && selectedMammal.name===mammal.name ? 'active' : '' %>">
                            <%= mammal.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="section-main <%= !selectedMammal ? activePage + '-intro' : '' %>">

        <% if (message) { %>
            <p class="section-message">
                <%= message %>
            </p>
            <% } %>

                <% if (!selectedMammal) { %>
                    <div class="intro-text-wrapper">
                        <h2>Welcome to the Mammals Section</h2>
                        <p>
                            Mammals in Australia form a group that is quite different from what you find in the rest of
                            the
                            world.
                            The main reason for this is the continent’s long isolation. Australia broke away from other
                            landmasses millions
                            of years ago, and its wildlife continued to develop without influence from animals in Asia,
                            Africa
                            or the Americas.
                            This allowed older branches of the mammal family to survive and adapt in their own way.
                        </p>
                    </div>

                    <% } else { %>
                        <h2>
                            <%= selectedMammal.name %>
                        </h2>
                        <img src="<%= selectedMammal.image %>" alt="<%= selectedMammal.name %>" width="300">

                        <p><strong>Lifespan:</strong>
                            <%= selectedMammal.lifespan %>
                        </p>
                        <p><strong>Food:</strong>
                            <%= selectedMammal.food %>
                        </p>
                        <p><strong>Length:</strong>
                            <%= selectedMammal.length %>
                        </p>
                        <p><strong>Weight:</strong>
                            <%= selectedMammal.weight %>
                        </p>
                        <p><strong>Found:</strong>
                            <%= selectedMammal.found %>
                        </p>
                        <p>
                            <%= selectedMammal.description %>
                        </p>
                        <% } %>
    </main>

</div>